.project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project h1 {
    color: #5C7457;
    font-size: 35px;
  }
  .project img {
    width: 60%;
    border-radius: 10px;
  }
  
  .project p {
    font-size: 25px;
    font-family: Karma, "serif";
    color: #88A281;
    margin: 10px;
    width: 50%;
    text-align: center;
  }

  .project p b {
    color: #5C7457;
  }

  .project .skills{
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .project .details {
    font-size: 20px;
    text-align: left;
  }

  .project .details li {
    padding-bottom: 15px;
    color: #88A281;
  }
  
  .project svg {
    font-size: 60px;
    color: #5C7457;
  }

  .project .icons:hover {

        color: black;
        transition: 0.3s ease-in;
        cursor: pointer;
    
  }

  @media only screen and (max-width: 480px) {
    .project h1 {
      font-size: 30px;
    }

    .project .skills {
      font-size: 25px;
    }

    .project p {
      font-size: 20px;
    }

    .project .details {
      font-size: 15px;
      text-align: left;
    }
  }
